.brand-logo {
  height: 1.6rem;
}

.hidden {
  display: none;
}

.main {
  padding-top: 70px;
}

.feedback {
  margin-top: 70px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.modal-container {
  position: relative;
}

.bottom-sticky {
  align-items: flex-end;
	display: flex;
	justify-content: center;
  bottom: 0;
}

.no-border {
  border: 0;
}
