html, body {
  width: 100%;
  height: 100%;
}

.brand-logo {
  height: 1.6rem;
}

.main {
  height: 100%;
  /*padding-bottom: 5rem;*/
}

.welcome {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

#overlay {
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.modal-container {
  position: relative;
}
.modal-container .modal-body {
  max-height: 100%;
}

.avatar.avatar-xl {
  font-size: 1.6rem;
}

.avatar.avatar-s {
  font-size: 1rem;
}


.form-input {
  padding: 2rem 1rem;
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 2.5rem;
}

.search {
  box-shadow: none;
  border: 0;
}

.clear-search {
  padding: 1rem;
  cursor: pointer;
}

.search-box {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.pointer {
  cursor: pointer;
}

.icon {
  height: 20px;
}

.bottom-sticky {
  align-items: flex-end;
	display: flex;
	justify-content: center;
  bottom: 0;
  width: 100%;
  z-index: 9;
}
.btn-sticky-bottom {
  background: #fff;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom: 0 !important;
}

.no-border {
  border: 0;
}

/* User cards */
.user-card {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.user-card-s {
  padding: 0.5rem;
  border-bottom: 0;
}
.user-picture {
  height: 15rem;
  width: 15rem;
}
.card-meta {
  color: #333 !important;
}
.card-body {
  font-weight: 200 !important;
}
.webid {
  display: flex;
  width: 100%;
  font-weight: 200;
}

.status {
  color: #32b643 !important;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.name {
  font-size: 1.4em;
  line-height: 1;
  font-weight: 200;
}

.name-s {
  font-size: 1em;
  line-height: 1;
  font-weight: 200;
}

.picture {
  border: 0;
}

.initials {
  background-color: #5764c6;
}

.feedback {
  padding-bottom: 1rem;
  z-index: 1002;
}

.user {
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}

/* Misc */
.center {
  align-self: center;
}

.center-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stretch {
  flex: 1;
}

.hidden {
  display: none;
}

.flex-right {
  flex: 1;
  flex-direction: row-reverse;
}

.flex-left {
  flex: 1;
  flex-direction: row;
}

.grey {
  color: #999 !important;
}

.red {
  color: red;
}

.p-10 {
  padding: 1rem;
}

.no-h-top {
  margin-top: -2.5rem;
}

.no-margin {
  margin: 0;
}

.half-width {
  width: 50%;
}

/* SLIDER */
.slider {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide-in {
    animation: slide-in 0.3s forwards;
    -webkit-animation: slide-in 0.3s forwards;
}

.slide-out {
    animation: slide-out 0.3s forwards;
    -webkit-animation: slide-out 0.3s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}


/* Success icon animation */
@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

.icon-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards
}

/* styles for truncate '...' */
.truncate {
  overflow: hidden;
  position: relative;
  line-height: 1.5rem;
  max-height: 1.5rem;
  text-align: justify;
  margin-right: -0.5rem;
  padding-right: 1rem;
}
/* create the ... */
.truncate:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.truncate:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  margin-top: 0.2rem;
  background: white;
}

@media screen and (min-width: 320px) {
  .modal-sm .modal-container {
    width: 30rem;
  }
}
